<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="emmaguy.l" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycler.RecyclerActivity"
            android:label="@string/title_activity_recycler_main" >
        </activity>
        <activity
            android:name=".recycler.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="emmaguy.l.MainActivity" />
        </activity>
        <activity
            android:name=".timing.HierarchicalTimingActivity"
            android:label="@string/title_activity_hierarchical_timing" >
        </activity>
        <activity
            android:name=".choreog.ConsistentChoreographyActivity"
            android:label="@string/title_activity_consistent_choreography" >
        </activity>
        <activity
            android:name=".choreog.ConsistentChoreography2Activity"
            android:label="@string/title_activity_consistent_choreography2"
            android:parentActivityName=".choreog.ConsistentChoreographyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="emmaguy.l.choreog.ConsistentChoreographyActivity" />
        </activity>
    </application>

</manifest>
